<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
  <h1>ADMIN</h1>
  <div th:if="${session.curUser == null}">
      <a href="/admin/register" th:if="${session.curUser == null}">go Register</a><br>
  </div>
  <div th:if="${session.curUser != null && session.curUser.getId().equals('admin')}">
      <a href="/admin/ls">go List</a><br>
  </div>

  <div th:if="${session.curUser != null}">
      <a href="/admin/edit">go Edit [[${session.curUser.getName()}]]'s Profile</a><br>
  </div>
  <a th:href="|/admin/log${logUrl}|" >go Log[[${logUrl}]]</a><br>
</body>
</html>